
 @import url(//https://fonts.googleapis.com/css?family=Creepster);

 h4curly{
   margin-bottom: 0.5rem;
   font-family: 'Creepster', cursive; 
   font-weight: 1700;
   line-height: 1.1;
   font-size: 20 rem;
   color: white;
 }
.jumbotron {
  padding: 0rem 0rem !important;
  margin-bottom: 1rem !important;
}
.hero {
    position: relative;
    height: 450px;
    padding: 5px;
    margin: 0;
    background: white;
    background-image: url('/static/bacteria.jpg');
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    text-align: center !important;
    vertical-align: middle;
  }
.panel-primary{
  background-color:white !important;
  border-color: green !important;
}
  
.panel-heading {
  background-color: green !important;
  border-color: green !important;
}

element.style {
  position: relative;
  width: 300px !important;
  height: 300px !important;
}
.well {

  text-align: center;
  background-color: green !important;
  border-color: green !important;
  min-width: 110px;
}
 
  body {
     padding-bottom: 25rem;
     padding-top: 120px;
  }


  @media (min-width: 576px) {
    .hero {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .hero {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .hero {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .hero {
      max-width: 1140px;
    }
  }